:host {
    border: 3px solid purple;
    padding: 5px;

    display: flex;
    flex-direction: column;
}

app-section-container, .noSection {
    width: 1024px;
    height: 768px;

    overflow: auto;

    /* flex-grow: 1; */
}

app-canvas-footer {
    margin-top: 5px;
    flex-grow: initial;
}